[Network]
ListenAddress=0.0.0.0
Port=8443

[Database]
Host=localhost
Port=5432
Name=forensic_agent
User=forensic_agent
Password=YOUR_DB_PASSWORD_HERE

[BackendApi]
Enable=true
BaseUrl=http://backend.unknownlite.com
ApiKey=YOUR_BACKEND_API_KEY_HERE
Timeout=30000
RetryCount=3

[Encryption]
Enable=true
Key=YOUR_ENCRYPTION_KEY_HERE
